$primary-color: #5b4de5;

$gray-color-1: #f0f0f1;
$gray-color-2: #dedede;

$text-color: #1e252f;

// $primary-gradient-start-color: ;
// $primary-gradient-stop-color: ;


$font-size-base: 16px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-lg: 20px;

$font-size-h1: 35px;
$font-size-h2: 28px;
